{% extends "layout.njk" %}

{% block content %}

{% include "components/header.njk" %}

<h1>Breadlist & Rating</h1>
<ul class="breadlist">
{% for bread in breadtypes %}
    <li class="breaditems"><h2>{{ bread.id }} {{ bread.breadname }} {{ bread.rating }}</h2> <p>{{ bread.ingredients}}</p></li>
{% endfor %}
</ul>
{% endblock %}