{% extends "layout.njk" %}

{% block content %}
{% include "components/header.njk" %}
<main class="wrapper">
        <p><a class="button-link" href="/bread">Bread</a></p>
{% include "components/footer.njk" %}
{% endblock %}